.new-shape{
  fill: transparent;
  position: absolute;
  left: 50%;
  top: 20%;
  z-index: 50;
  opacity: 1.0;
  transition: 3s ease-in-out;
}
.new-shape:hover{
  fill: #ffffff;
  /* opacity: 0.01; */
  transition: opacity 2s ease-in-out;
}


.new-shape2{
  fill: transparent;
  position: absolute;
  left: 6%;
  top: 10%;
  z-index: 50;
  transition: 3s ease-in-out;
}


.new-shape2:hover{
  fill: #ffffff;
  transition: opacity 2s ease-in-out;
}


.new-shape3{
  fill: transparent;
  position: absolute;
  left: 78%;
  top: 40%;
  z-index: 50;
  transition: 3s ease-in-out;
}
.new-shape3:hover{
  fill: #ffffff;
  transition: opacity 2s ease-in-out;
}


.new-shape4{
  fill: transparent;
  position: absolute;
  left: 20%;
  top: 40%;
  z-index: 50;
  transition: 3s ease-in-out;
}
.new-shape4:hover{
  fill: #ffffff;
  transition: opacity 2s ease-in-out;
}



.new-shape5{
  fill: transparent;
  position: absolute;
  left: 90%;
  top: 20%;
  z-index: 50;
  transition: 3s ease-in-out;
}
.new-shape5:hover{
  fill: #ffffff;
  transition: opacity 2s ease-in-out;
}


.new-shape6{
  fill: transparent;
  position: absolute;
  left: 70%;
  top: 50%;
  z-index: 50;
  transition: 3s ease-in-out;
}
.new-shape6:hover{
  fill: #ffffff;
  transition: opacity 2s ease-in-out;
}


.new-shape7{
  fill: transparent;
  position: absolute;
  left: 30%;
  top: 20%;
  z-index: 50;
  transition: 3s ease-in-out;
}
.new-shape7:hover{
  fill: #ffffff;
  transition: opacity 2s ease-in-out;
}



.new-shape8{
  fill: transparent;
  position: absolute;
  left: 20%;
  top:30%;
  z-index: 50;
  transition: 3s ease-in-out;
}
.new-shape8:hover{
  fill: #ffffff;
  transition: opacity 2s ease-in-out;
}


.new-shape9{
  fill: transparent;
  position: absolute;
  left: 60%;
  top: 25%;
  z-index: 50;
  transition: 3s ease-in-out;
}
.new-shape9:hover{
  fill: #ffffff;
  transition: opacity 2s ease-in-out;
}


.new-shape10{
  fill: transparent;
  position: absolute;
  left: 75%;
  top: 37%;
  z-index: 50;
  transition: 3s ease-in-out;
}
.new-shape10:hover{
  fill: #ffffff;
  transition: opacity 2s ease-in-out;
}

.new-shape11{
  fill: transparent;
  position: absolute;
  left: 50%;
  top: 10%;
  z-index: 50;
  transition: 3s ease-in-out;
}
.new-shape11:hover{
  fill: #ffffff;
  transition: opacity 2s ease-in-out;
}

.new-shape12{
  fill: transparent;
  position: absolute;
  left: 40%;
  top: 40%;
  z-index: 50;
  transition: 3s ease-in-out;
}
.new-shape12:hover{
  fill: #ffffff;
  transition: opacity 2s ease-in-out;
}

.new-shape13{
  fill: transparent;
  /*fill: #a699c0;*/
  position: absolute;
  left: 70%;
  top: 15%;
  z-index: 50;
  transition: 3s ease-in-out;
}
.new-shape13:hover{
  fill: #ffffff;
  transition: opacity 2s ease-in-out;
}


.new-shape14{
  fill: transparent;
  position: absolute;
  left: 90%;
  top: 20%;
  z-index: 50;
  transition: 3s ease-in-out;
}
.new-shape14:hover{
  fill: #ffffff;
  transition: opacity 2s ease-in-out;
}

.new-shape15{
  fill: transparent;
  position: absolute;
  left: 62%;
  top: 20%;
  z-index: 50;
  transition: 3s ease-in-out;
}
.new-shape15:hover{
  fill: #ffffff;
  transition: opacity 2s ease-in-out;
}

.navbar-brand.active{
  opacity: 0.5;
  background:#544F6D;
}
