/*
1. Get rid of white lines somewhere
2. make top of design shorter
3. Increase sides of design
4. Place stars
4.5. Fade out stars https://css-tricks.com/animating-svg-css/
5. lower moon
6. choose new mint color
http://stackoverflow.com/questions/11375724/fade-in-fade-out-on-image-hover-using-css3

*/
/*
@media screen
  and (device-width: 320px)
  and (device-height: 568px)
  and (-webkit-device-pixel-ratio: 2)
{
    #background .logo .nav  {
       display:none;
    }
}
*/

/*background atempt 4*/
header {
  background: url("../img/backgroundattemp4.png");
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
 /*viewport height*/
}

/*.intro-text {
  zoom: 50%;
}
*/






/*.navbar{
  opacity: 0.5;
  background:#544F6D;
} */

.navbar-brand.active{
  opacity: 0.5;
  background:#544F6D;
}


/* I tried this stuff to add a shadow but it didn't work.

 .portfolio{
  color: #ffffff;
  text-shadow:#000000;
}
 .portfolio-item{
  color: #ffffff;
  text-shadow:#000000;
}
 .portfolio-link{
  color: #ffffff;
  text-shadow:#000000;
 }
